---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro." route="astro">
	<h1 class="title">
        About Page
    </h1>
</Layout>

<style>
	h1.title{
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
        padding: 50px;
    }
</style>
